<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE module [
    <!ELEMENT module (name, version, license, description, author, dependencies, contents)>

    <!ELEMENT name (PCDATA)>

    <!ELEMENT version (release, api, stability)>

    <!ELEMENT stability (release, api)>

    <!ELEMENT release (PCDATA)>

    <!ELEMENT api (PCDATA)>

    <!ELEMENT dependencies (dependency*)>

    <!ELEMENT dependency EMPTY>
    <!ATTLIST dependency
        module  CDATA   #REQUIRED
        version CDATA   #REQUIRED
    >

    <!ELEMENT contents (directory*, file*)>
    
    <!ELEMENT directory (directory*, file*)>
    <!ATTLIST directory
        name    CDATA   #REQUIRED
    >

    <!ELEMENT file EMPTY>
    <!ATTLIST file
        name    CDATA   #REQUIRED
        md5sum  CDATA   #REQUIRED
    >
]>

<module>
    <name>Language</name>

    <version>
        <release>0.1</release>
        <api>0.1</api>

        <stability>
            <release>stable</release>
            <api>stable</api>
        </stability>
    </version>

    <license uri="http://www.fsf.org/licensing/licenses/agpl-3.0.html">Affero GNU General Public License</license>

    <description>Server side modules infrastructure.</description>

    <author>
        <name>meh.</name>
        <email>meh.ffff@gmail.com</email>
        <homepage>http://meh.doesntexist.org</homepage>
    </author>

    <dependencies></dependencies>

    <contents>
        <file name="main.js" md5sum="4bf7b72023d32e6fcd727f8fd91e17be"/>

        <directory name="system">
            <file name="Languages.js" md5sum="6a8a2e27dc5668998fac5730ead253ea"/>
            <file name="Template.js" md5sum="efa26bb576dd913513dc4bd7260c76f5"/>
        </directory>

        <directory name="resources">
            <file name="config.xml" md5sum="dcc6c661ca534b245a3a260875bd00c5"/>
            <file name="languages.xml" md5sum="48c26e45d04b0beebb463d879a9b0596"/>

            <directory name="languages">
                <directory name="en">
                    <file name="config.xml" md5sum="cfc3f3c64e2012aec8092c28137367c3"/>
                    <file name="pages.xml" md5sum="0d215d7b42593b02f612b56ed1131bf0"/>
                    <file name="menus.xml" md5sum="073965b3bcd04277a26967be4cabf52f"/>
                    <file name="template.xml" md5sum="2514486669995c77b2e536ce75256b1c"/>

                    <directory name="data">
                        <file name="separated" md5sum="15a74cf746f165b2206b5ee239b50c6f"/>
                    </directory>
                </directory>

                <directory name="it">
                    <file name="config.xml" md5sum="1f5c4688e5d5349386bed123a0faef91"/>
                    <file name="pages.xml" md5sum="1f8ce39a01ce52e696f3cf8350ab9e96"/>
                    <file name="menus.xml" md5sum="4a678eb2bc3f98eec050d341321c4996"/>
                    <file name="template.xml" md5sum="deb47698c774d0c8bbae9ae31e98be1f"/>

                    <directory name="data">
                        <file name="separated" md5sum="50158b9aa0285596c1302889fa0ddb68"/>
                    </directory>
                </directory>
            </directory>
        </directory>
    </contents>
</module>
