<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE configuration [
    <!ELEMENT configuration ANY>
]>

<configuration domain="Blog">
    <title>#{siteTitle} - #{title}</title>

    <author>
        <post>Owner</post>
        <comment>Anonymous</comment>
    </author>

    <postsPerPage>5</postsPerPage>
    <editorType>simple</editorType>

    <feed>
        <path>/feed.xml</path>
        <type>rss</type>
        <version>2.0</version>
        <description>full</description>
        <max>10</max>
    </feed>
</configuration>
