<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE module [
    <!ELEMENT module (name, version, license, description, author, dependencies, contents)>

    <!ELEMENT name (PCDATA)>

    <!ELEMENT version (release, api, stability)>

    <!ELEMENT stability (release, api)>

    <!ELEMENT release (PCDATA)>

    <!ELEMENT api (PCDATA)>

    <!ELEMENT dependencies (dependency*)>

    <!ELEMENT dependency EMPTY>
    <!ATTLIST dependency
        name    CDATA   #REQUIRED
        version CDATA   #REQUIRED
    >

    <!ELEMENT contents (directory*, file*)>
    
    <!ELEMENT directory (directory*, file*)>
    <!ATTLIST directory
        name    CDATA   #REQUIRED
    >

    <!ELEMENT file EMPTY>
    <!ATTLIST file
        name    CDATA   #REQUIRED
        md5sum  CDATA   #REQUIRED
    >
]>

<module>
    <name>Security</name>

    <version>
        <release>0.2.3</release>
        <api>0.2</api>

        <stability>
            <release>stable</release>
            <api>stable</api>
        </stability>
    </version>

    <license uri="http://www.fsf.org/licensing/licenses/agpl-3.0.html">Affero GNU General Public License</license>

    <description>Server side modules infrastructure.</description>

    <author>
        <name>meh.</name>
        <email>meh.ffff@gmail.com</email>
        <homepage>http://meh.doesntexist.org</homepage>
    </author>

    <dependencies></dependencies>

    <contents>
        <file name="main.js" md5sum="575071e4f068df072cb5c7f4bc2870ed"/>
        <file name="main.php" md5sum="357bfb5cca08fd708f3535ba8e996cf7"/>
        <file name="utils.php" md5sum="275879edc8283234da5b1fb48ab918bd"/>

        <directory name="resources">
            <file name="config.php" md5sum="5b0efec8ae6b0d9c320d4b3b6f675f94"/>
            <file name="style.css" md5sum="d41d8cd98f00b204e9800998ecf8427e"/>
            <file name="template.php" md5sum="8440f67c8837983d5488e96f10417409"/>
        </directory>
    </contents>
</module>
