<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE module [
    <!ELEMENT module (name, version, license, description, author, dependencies, contents)>

    <!ELEMENT name (PCDATA)>

    <!ELEMENT version (release, api, stability)>

    <!ELEMENT stability (release, api)>

    <!ELEMENT release (PCDATA)>

    <!ELEMENT api (PCDATA)>

    <!ELEMENT dependencies (dependency*)>

    <!ELEMENT dependency EMPTY>
    <!ATTLIST dependency
        module  CDATA   #REQUIRED
        version CDATA   #REQUIRED
    >

    <!ELEMENT contents (directory*, file*)>
    
    <!ELEMENT directory (directory*, file*)>
    <!ATTLIST directory
        name    CDATA   #REQUIRED
    >

    <!ELEMENT file EMPTY>
    <!ATTLIST file
        name    CDATA   #REQUIRED
        md5sum  CDATA   #REQUIRED
    >
]>

<module>
    <name>Security</name>

    <version>
        <release>0.2.3</release>
        <api>0.2</api>

        <stability>
            <release>stable</release>
            <api>stable</api>
        </stability>
    </version>

    <license uri="http://www.fsf.org/licensing/licenses/agpl-3.0.html">Affero GNU General Public License</license>

    <description>Server side modules infrastructure.</description>

    <author>
        <name>meh.</name>
        <email>meh.ffff@gmail.com</email>
        <homepage>http://meh.doesntexist.org</homepage>
    </author>

    <dependencies>
        <dependency module="Security" version=">=0.2"/>
    </dependencies>

    <contents>
        <file name="main.js" md5sum="f9ac5bd411af97c589f6d17dc73c799c"/>
        <file name="main.php" md5sum="511b9963208c90662687190ae9bb8c8d"/>

        <directory name="resources">
            <file name="config.xml" md5sum="449acb0b7e023c3ea20811a2aaad8ed8"/>
        </directory>
    </contents>
</module>
