<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE configuration [
    <!ELEMENT configuration ANY>
    <!ATTLIST configuration
        domain CDATA #REQUIRED
    >
]>

<configuration domain="logger">
    <fileName>logs.php</fileName>
    <protected>true</protected>
    <priority>50</priority>
</configuration>
